:root {
    --clr-primary-200: hsl(215, 51%, 70%);
    --clr-primary-400: hsl(178, 100%, 50%);

    --clr-neutral-900: hsl(217, 54%, 11%);
    --clr-neutral-700: hsl(216, 50%, 16%);
    --clr-neutral-600: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-regular: 'Outfit', sans-serif;
    --fs-regular: 18px;

    --fw-bold: 600;
    --fw-regular: 400;
    --fw-light: 300;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-regular);
    font-size: var(--fs-regular);
    color: var(--clr-primary-200);
    font-weight: var(--fw-regular);
    background: var(--clr-neutral-900);
}

.nft-component {
    background: var(--clr-neutral-700);
}

h1.title {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
}

.nft-section > span {
    color: var(--clr-primary-400);
}

.creator-section {
    font-size: 1rem;
    font-weight: var(--fw-light);
}

.creator-section > span {
    color: var(--clr-neutral-100);
}

hr {
    border: 1px solid var(--clr-neutral-600);
}